In [1]:
# Import file
import pandas as pd

file = r'C:\projects\data_science_project\data\raw\Boat Dataset.csv'
with open(file, 'r'):
    df = pd.read_csv(file)

In [2]:
df.describe()

       vhigh   med     2     4  med.1  good  fair
count   1723  1723  1717  1720   1723  1720  1723
unique     4     4     4     3      3     3     4
top     high   low     3     4  small  good  poor
freq     432   432   432   574    576   574  1206